.map-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: calc(10px + 2vmin);
}

.map-manager-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    z-index: 1;
    color: white;
    font-size: calc(10px + 2vmin);
    justify-content: center;
    align-items: center;
}

.manager-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    width: 70%;
    height: 100%;
}

.upload-container {
    position: center;
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
}

.save-container {
    position: bottom;
    align-items: bottom;
    margin-top: 20rem;
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: bottom;
}